@model Avaliacao

<div class="mb-3">
        <label asp-for="Nota"></label>
        <select asp-for="Nota" class="form-select"
            asp-items="@Html.GetEnumSelectList<Nota>()">
        <option>Selecione</option>
    </select>
    </div>
    <div class="mb-3">
    <label asp-for="Comentario"> </label>
    <textarea asp-for="Comentario" class="form-control"></textarea>
</div>