@model Avaliacao

@{
    ViewData["Title"] = "Cadastro da avaliação dos ônibus";

}

<h1>Faça o cadastro de uma avaliação</h1>
<h2>Para um transporte publico melhor!</h2>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <button class="btn btn-outline-success">Cadastrar</button>

</form>