@model Avaliacao

@{
    ViewData["Title"] = "Cadastro da avaliação os ônibus";

}

<h1>Faça o cadastro de uma avaliação</h1
<h2>Para o transporte publico melhor!</h2>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <button class="btn btn-outline-success">Cadastrar</button>

</form>