@model List<Avaliacao>

@{
    ViewData["Title"] = "Avaliação";
}

<h1>Avaliações</h1>

<table class="table table-striped">
    <tr>
        <th>Nota</th>
        <th>Comentário</th>
    </tr>
    @foreach(var a in Model)
    {
        <tr>
            <td>@a.Nota</td>
            <td>@a.Comentario</td>
            <td>
                <a asp-action="editar" class="btn btn-outline-secondary"
               asp-route-id="@a.UsuarioId">Editar</a>
                <button onclick="UsuarioId.value = @a.UsuarioId" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
            </td>
        </tr>
    }
</table>