@model CartaoCredito

@{
    ViewData["Title"] = "Cadastro do cartão de crédito";

}

<h1>Faça o cadastro do seu cartão de crédito</h1>

<mensagem mensagem="@TempData["msg"]"></mensagem>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <button class="btn btn-outline-success">Cadastrar</button>

</form>