@model Onibus

<div class="mb-3">
    <label asp-for="OnibusNumero"> </label>
    <input asp-for="OnibusNumero" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Linha"> </label>
    <input asp-for="Linha" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Regiao"> </label>
    <input asp-for="Regiao" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Tarifa"> </label>
    <input asp-for="Tarifa" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Acessivel"> </label>
    <input asp-for="Acessivel" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Status"> </label>
    <select asp-for="Status" class="form-select"
            asp-items="@Html.GetEnumSelectList<Status>()">
        <option>Selecione</option>
    </select>
</div>
<input asp-for="TipoOnibus.TipoOnibusId" />
<div class="mb-3">
    <label asp-for="TipoOnibus.Tipo"></label>
    <select asp-for="TipoOnibus.Tipo" class="form-select" asp-items="@Html.GetEnumSelectList<Tipo>()">
      <option>Selecione</option>
  </select>
</div>