@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AppBus</h1>
    <h2>Para um transporte público mais inteligente.</h2>
</div>

<h4>Prosposta</h4>
<p>Nosso projeto é a criação de um app que ajude o passageiro a se locomover na cidade de São Paulo.</p>
<p>O app ajuda na escolha de um ônibus mais adequado para o passageiro.</p>
<p>Já pensou em pegar um ônibus menos cheio? mais acessivel? com Wifi? </p>
<p>A partir das avaliações dos ônibus de nossos clintes podemos indicar os melhores ônibus.</p>
<p>Além disso, você pode consultar seu saldo ou mesmo recarregar seu bilhete com nosso app.</p>

<h4>Funcionalidades</h4>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Cadastro, edição e remoção de um usuário</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Cadastro, edição e remoção de um ônibus</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">Cadastro, edição e remoção de um cartão de crédito</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Cadastro, edição e remoção de um bilhete</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Cadastro, edição e remoção de uma avaliação</label>
</div>
